#Thank you Joe and Swarnava for this wonderful gitignore

# IDE
**/.vscode/

# Quartus working files
*.qws
*.qip
*.cnx
*.cnxerr
**/db/
**/incremental_db/

# Quartus output files
**/output_files/

# # Platform Designer working/output files
# **/.qsys_edit
# **/QSYS_Generated

# Backup files
*.bak

*.wav

# ModelSim working files
**/work/
**/simulation/
vsim.wlf